/* h1,
a {
  color: red;
}
p {
  color: blue;
} */
/* .carros {
  color: green;
} */
/* .produtos .carros {
  color: aqua;
} dentro da classe produtos, pinte elementos da classe carros de aqua */
/* .produtos,
.carros {
  color: aqua;
} Pinte elementos da classe produtos e carros de aqua*/
/* .underline {
  text-decoration: underline;
}
.pink {
  color: pink;
} elemento com várias classes que pode ter variadas funções*/
/* div {
  background: #aaa;
  width: 140px; largura da caixa
  margin: 10px; distancia entre caixa e conteudo da pagina
  padding: 30px; distancia entre conteudo e caixa
  border: 15px solid #111; borda da caixa
  height: 60px; altura da caixa
} */

body {
  margin: 0px;
}
/* h1 {
  background: #8b2929;
  padding: 10px;
  width: 80px;
  border: 15px solid #da188f;
  color: #aaa;
  margin: 20px; A margin priorizada será a maior
} */
/* img {
  max-width: 100%; garante que a imagem respeite .pai
}
div {
  width: 300px;
} */
/* margin: top rigth bottom left sentido horario */
.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  display: grid;
}
a {
  background: red;
  color: blue;
}
.grid {
  display: grid;

  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: space-around;
  align-content: space-between;
}
